<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">

<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="post-form">
                <div class="select-list">
                    <ul>
                        <li>
                            日期：<input type="text" name="selDate"/>
                        </li>
                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i
                                    class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i
                                    class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>

        <div class="btn-group-sm hidden-xs" id="toolbar" role="group">
            <!--				<a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="system:post:export">-->
            <!--		            <i class="fa fa-download"></i> 导出-->
            <!--		        </a>-->
        </div>

        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table" data-mobile-responsive="true"></table>
        </div>
    </div>
</div>
<div th:include="include :: footer"></div>
<script th:inline="javascript">
    // var editFlag = [[${@permission.hasPermi('system:post:edit')}]];
    // var removeFlag = [[${@permission.hasPermi('system:post:remove')}]];
    var datas = [[${@dict.getType('sys_normal_disable')}]];
    var prefix = ctx + "system/invest";

    $(function () {
        var options = {
            url: prefix + "/cashOut",
            // createUrl: prefix + "/add",
            // updateUrl: prefix + "/edit/{id}",
            // removeUrl: prefix + "/remove",
            // exportUrl: prefix + "/export",
            // sortName: "id",
            modalName: "提现记录",
            search: false,
            showExport: false,
            columns: [{
                checkbox: true
            },
				{
					field: 'transaction_id',
					title: '记录id'
				},
                {
                    field: 'create_time',
                    title: '时间'
                },
				{
					field: 'fromUserName',
					title: '充值人员'
				},
                {
                    field: 'from_amount',
                    title: '提现数量（USDT）'
                },
                {
                    field: 'fee_amount',
                    title: '手续费'
                },
                {
                    field: 'to_wallet_address',
                    title: '提现钱包地址'
                },
                {
                    field: 'transactionStatus',
                    title: '提现状态'
                }
            ]
        };
        $.table.init(options);
    });
</script>
</body>
</html>