<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header">
    <link th:href="@{/lib/layui/css/layui.css}" rel="stylesheet"/>
</head>
<body class="gray-bg">
<!--<input id="walletAddress" th:value="${wallet.walletAddress}" type="hidden" />
<ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#trans" role="tab" data-toggle="tab">转账</a></li>
    <li role="presentation"><a href="#investCashOut" role="tab" data-toggle="tab">充值提现</a></li>
    <li role="presentation"><a href="#contract" role="tab" data-toggle="tab">合约</a></li>
</ul>-->
<!--<div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="trans">-->
<!--<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="trans-form" >
                <input id="transactionId" type="hidden" name="transactionId" th:value="${transaction == null ? '' : transaction.transactionId}" />
                <div class="select-list">
                    <ul>
                        <li class="select-time">
                            <label>交易时间： </label>
                            <input type="text" class="time-input"  placeholder="开始时间" name="startTime"/>
                            <span>-</span>
                            <input type="text" class="time-input"  placeholder="结束时间" name="endTime"/>
                        </li>
                        <li>
                            钱包用户：<input type="text" name="fromUserName"/>
                        </li>
                        <li>
                            转出地址：<input type="text" name="toWalletAddress"/>
                        </li>
                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search('trans-form','trans-table')"><i
                                    class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset('trans-form')"><i
                                    class="fa fa-refresh"></i>&nbsp;重置</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.table.exportExcel('trans-form','exportTransaction','trans-table')">
                                <i class="fa fa-download"></i>&nbsp;导出
                            </a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>


        <div class="col-sm-12 select-table table-striped">
            <table id="trans-table" data-mobile-responsive="true"></table>
        </div>
    </div>
</div>
</div>
<div role="tabpanel" class="tab-pane" id="investCashOut">
<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="investCashOut-form" >
                <div class="select-list">
                    <ul>
                        <li class="select-time">
                            <label>交易时间： </label>
                            <input type="text" class="time-input"  placeholder="开始时间" name="startTime"/>
                            <span>-</span>
                            <input type="text" class="time-input"  placeholder="结束时间" name="endTime"/>
                        </li>
                        <li>
                            钱包用户：<input type="text" name="fromUserName"/>
                        </li>

                        <li>
                            交易类型：<select name="transactionType" >
                            <option value="">所有</option>
                            <option th:value="0">充值</option>
                            <option th:value="1">提现</option>
                        </select>
                        </li>
                        <li>
                            钱包地址：<input type="text" name="walletAddress"/>
                        </li>
                        <li>
                            币种：<select name="toWalletType" >
                            <option value="">所有</option>
                            <option th:value="0">USDT</option>
                            <option th:value="1">MDC</option>
                        </select>
                        </li>
                        <li>
                            交易状态：<select name="transactionStatus" >
                            <option value="">所有</option>
                            <option th:value="0">交易中</option>
                            <option th:value="1">交易成功</option>
                            <option th:value="-1">交易失败</option>
                            <option th:value="-2">审核不通过</option>
                        </select>
                        </li>
                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search('investCashOut-form','investCashOut-table')"><i
                                    class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset('investCashOut-form')"><i
                                    class="fa fa-refresh"></i>&nbsp;重置</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.table.exportExcel('investCashOut-form','exportInvestCashOut','investCashOut-table')">
                                <i class="fa fa-download"></i>&nbsp;导出
                            </a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>


        <div class="col-sm-12 select-table table-striped">
            <table id="investCashOut-table" data-mobile-responsive="true"></table>
        </div>
    </div>
</div>
</div>
<div role="tabpanel" class="tab-pane" id="contract">

<--</div>
</div>-->
<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="contract-form" >
                <input id="transactionId" type="hidden" name="transactionId" th:value="${transaction == null ? '' : transaction.transactionId}" />


                <div class="select-list">
                    <ul>
                        <li class="select-time">
                            <label>交易时间： </label>
                            <input type="text" class="time-input"  placeholder="开始时间" name="startTime"/>
                            <span>-</span>
                            <input type="text" class="time-input"  placeholder="结束时间" name="endTime"/>
                        </li>
                        <li>
                            用户账号：<input type="text" name="userName"/>
                        </li>
                        <li>
                            合约：<input type="text" name="contractName"/>
                        </li>
                        <li>
                            类型：<select name="contractType" >
                            <option value="">所有</option>
                            <option th:value="0">签约</option>
                            <option th:value="1">升级</option>
                            <option th:value="-1">解约</option>

                        </select>
                        </li>
                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search('contract-form','contract-table')"><i
                                    class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset('contract-form')"><i
                                    class="fa fa-refresh"></i>&nbsp;重置</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.table.exportExcel('contract-form','exportContract','contract-table')">
                                <i class="fa fa-download"></i>&nbsp;导出
                            </a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>


        <div class="col-sm-12 select-table table-striped">
            <table id="contract-table" data-mobile-responsive="true"></table>
        </div>
    </div>
</div>


<div th:include="include :: footer"></div>

<script th:inline="javascript">
    // var editFlag = [[${@permission.hasPermi('system:post:edit')}]];
    // var removeFlag = [[${@permission.hasPermi('system:post:remove')}]];
    var datas = [[${@dict.getType('sys_normal_disable')}]];
    var prefix = ctx + "system/wallet";
    /*var walletAddress = $("#walletAddress").val();*/
    $(function () {
        /*var option = {
            url: prefix + "/transaction?transactionType=2",
            // createUrl: prefix + "/add",
            // updateUrl: prefix + "/edit/{id}",
            // removeUrl: prefix + "/remove",
            exportUrl: prefix + "/exportTransaction?transactionType=2",
            // sortName: "id",
            modalName: "转账信息",
            search: false,
            showExport: false,
            id:"trans-table",
            columns: [{
                checkbox: true
            },
                {
                    field: 'transaction_id',
                    title: '交易记录id'
                },
                {
                    field: 'fromUserName',
                    title: '用户名称'
                },
                {
                    field: 'to_wallet_address',
                    title: '转出地址'
                },
                {
                    field: 'toUserName',
                    title: '转出用户'
                },
                {
                    field: 'from_amount',
                    title: '交易数量'
                },
                {
                    field: 'from_wallet_type',
                    title: '交易币种',
                    formatter: function(value, row, index) {
                        var actions = [];
                        if(row.from_wallet_type == '0'){
                            actions.push('USDT');
                        }else if(row.from_wallet_type == '1'){
                            actions.push('MDC');
                        }else{
                            actions.push('');
                        }
                        return actions.join('');
                    }
                },
                {
                    field: 'create_time',
                    title: '交易时间'
                },
                {
                    field: 'transactionStatus',
                    title: '状态'
                }
            ]
        };
        $.table.init(option);
        $.table.search('trans-form','trans-table');
        $("#transactionId").val("");*/


        /*var investCashOut = {
            url: prefix + "/investCashOut?walletAddress="+walletAddress+"&investCashOut=true",
            // createUrl: prefix + "/add",
            // updateUrl: prefix + "/edit/{id}",
            // removeUrl: prefix + "/remove",
            exportUrl: prefix + "/exportInvestCashOut?walletAddress="+walletAddress+"&investCashOut=true",
            // sortName: "id",
            modalName: "充值提现",
            search: false,
            showExport: false,
            id:"investCashOut-table",
            columns: [{
                checkbox: true
            },
                {
                    field: 'transaction_id',
                    title: '交易记录id'
                },
                {
                    field: 'fromUserName',
                    title: '用户名称'
                },
                {
                    field: 'to_amount',
                    title: '交易数量'
                },
                {
                    field: 'to_wallet_address',
                    title: '转入地址'
                },{
                    field: 'from_wallet_address',
                    title: '转出地址'
                },
                {
                    field: 'to_wallet_type',
                    title: '交易币种',
                    formatter: function(value, row, index) {
                        var actions = [];
                        if(row.to_wallet_type == '0'){
                            actions.push('USDT');
                        }else if(row.to_wallet_type == '1'){
                            actions.push('MDC');
                        }else{
                            actions.push('');
                        }
                        return actions.join('');
                    }
                },
                {
                    field: 'create_time',
                    title: '交易时间'
                },
                {
                    field: 'transaction_type',
                    title: '类型',
                    formatter: function(value, row, index) {
                        var actions = [];
                        if(row.transaction_type == '0'){
                            actions.push('充值');
                        }else if(row.transaction_type == '1'){
                            actions.push('提现');
                        }else{
                            actions.push('');
                        }
                        return actions.join('');
                    }
                },
                {
                    field: 'transactionStatus',
                    title: '状态'
                },
                {
                    title: '操作',
                    align: 'center',
                    width:"400px",
                    formatter: function(value, row, index) {
                        var actions = [];
                        if(row.transaction_status == '0' && row.transaction_type == '1'){
                            actions.push('<a class="btn btn-success btn-xs " href="#" onclick="cashOutAuditing(\'' + row.transaction_id + '\',1)"><i class="fa fa-support"></i>审核通过</a> ');
                            actions.push('<a class="btn btn-success btn-xs " href="#" onclick="cashOutAuditing(\'' + row.transaction_id + '\',-1)"><i class="fa fa-newspaper-o"></i>审核不通过</a> ');
                        }
                        return actions.join('');
                    }
                }
            ]
        };
        $.table.init(investCashOut);*/

        var contract = {
            url: prefix + "/getContract",
            // createUrl: prefix + "/add",
            // updateUrl: prefix + "/edit/{id}",
            // removeUrl: prefix + "/remove",
            // exportUrl: prefix + "/export",
            // sortName: "id",
            modalName: "合同信息",
            search: false,
            showExport: false,
            id:"contract-table",
            columns: [{
                checkbox: true
            },
                {
                    field: 'transaction_id',
                    title: 'id'
                },
                {
                    field: 'contract_id',
                    title: '合约ID'
                },
                {
                    field: 'fromUserName',
                    title: '用户账号'
                },
                {
                    field: 'contractName',
                    title: '合约类型'
                },{
                    field: 'from_amount',
                    title: '数量'
                },
                {
                    field: 'contractType',
                    title: '类型'
                },
                {
                    field: 'create_time',
                    title: '交易时间'
                },
                {
                    field: 'transactionStatus',
                    title: '状态'
                },
                {
                    field: 'transaction_type',
                    title: '备注'
                }
            ]
        };
        $.table.init(contract);
        $.table.search('contract-form','contract-table');
        $("#transactionId").val("");

    });
    function cashOutAuditing(ids,type) {
        //alert(ids);
        var data = {
            ids:ids,type:type
        };
        var config = {
            url: ctx + "system/invest/personHandleCashOut",
            type: "post",
            dataType: "json",
            data: data,
            beforeSend: function () {
                $.modal.loading("正在处理中，请稍后...");
                $.modal.disable();
            },
            success: function(result) {
                $.operate.successCallback(result);
            }
        };
        $.ajax(config)
    }
    function getWalletInfo(id) {
        var index = layer.open({
            type: 2,
            area: ['600px', '500px'],
            fix: false,
            //不固定
            maxmin: true,
            shade: 0.3,
            title: "钱包详细",
            content: prefix+"/walletInfo",
            btn: ['关闭'],
            // 弹层外区域关闭
            shadeClose: true,
            cancel: function(index){
                return true;
            }
        });
        layer.full(index);
        alert(id);
    }
</script>
</body>
</html>