<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="white-bg">
	<div class="wrapper wrapper-content animated fadeInRight ibox-content">
		<form class="form-horizontal m" id="form-balance-edit">
			<input name="walletAddress" type="hidden"   th:value="${wallet.walletAddress}"   />
			<input name="type" id="type" type="hidden"   th:value="${wallet.type}"   />

            <div class="form-group">
                <label class="col-sm-3 control-label ">代币类型</label>
                <div class="col-sm-8">
                    <select id="walletType" name="walletType"  class="form-control">
                        <option th:value="0">USDT</option>
                        <option th:value="1">MDC</option>
                    </select>
                </div>
            </div>
			<div class="form-group" id="oldUsdt">
				<label class="col-sm-3 control-label ">USDT余额</label>
				<div class="col-sm-8">
					<input class="form-control" id="oldUsdtBalance" readonly="readonly" name="oldUsdtBalance" type="text"   th:value="${wallet.usdtBalance}"/>
				</div>
			</div>
			<div class="form-group" id="changeUsdt">
				<label class="col-sm-3 control-label " th:text="${wallet.type == '0' ? 'USDT充值金额' : 'USDT扣费金额'}"></label>
				<div class="col-sm-8">
					<input class="form-control" type="text"  id="usdtChange" name="usdtChange" th:value="0"/>
				</div>
			</div>
			<div class="form-group" id="oldMdc" style="display: none">
				<label class="col-sm-3 control-label ">MDC余额</label>
				<div class="col-sm-8">
					<input class="form-control" id="oldMdcBalance" readonly="readonly" type="text" name="oldMdcBalance"   th:value="${wallet.mdcBalance}"/>
				</div>
			</div>
			<div class="form-group" id="changeMdc" style="display: none">
				<label class="col-sm-3 control-label" th:text="${wallet.type == '0' ? 'MDC充值金额' : 'MDC扣费金额'}"></label>
				<div class="col-sm-8">
					<input class="form-control" type="text"  id="MdcChange" name="MdcChange" th:value="0"/>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">备注：</label>
				<div class="col-sm-8">
					<textarea id="remark" name="remark" class="form-control"></textarea>
				</div>
			</div>
		</form>
	</div>
	<div th:include="include::footer"></div>
	 <script>
        var prefix = ctx + "system/wallet";



        $("#walletType").on("change",function () {
            var walletType = $("#walletType").val();
            if(walletType == '0'){
                $("#oldMdc").hide();
                $("#changeMdc").hide();
                $("#MdcChange").val("0");
                $("#oldUsdt").show();
                $("#changeUsdt").show();
            }else if(walletType == "1"){
                $("#oldUsdt").hide();
                $("#changeUsdt").hide();
                $("#usdtChange").val("0");
                $("#oldMdc").show();
                $("#changeMdc").show();
            }
        });

        
        function submitHandler() {
	        if ($.validate.form()) {
	        	var reg = /^[0-9]*$/;
	        	var usdtChange = $("#usdtChange").val();
	        	var mdcChange = $("#MdcChange").val();
	        	var oldMdcBalance = $("#oldMdcBalance").val();
	        	var oldUsdtBalance = $("#oldUsdtBalance").val();
	        	var type = $("#type").val();
                var walletType = $("#walletType").val();
	        	if(walletType == '0' && !reg.test(usdtChange)){
	        		layer.alert("USDT金额请输入数字");
				}else if(walletType == '1' && !reg.test(mdcChange)){
					layer.alert("MDC金额请输入数字");
				}else if(type == "1" && parseFloat(oldUsdtBalance) < parseFloat(usdtChange)){
	        	    if(walletType == '0'){
                        layer.alert("USDT余额不足扣费");
                    }
				}else if(type == "1" && parseFloat(oldMdcBalance) < parseFloat(mdcChange)){
                    if(walletType == '1'){
                        layer.alert("MDC余额不足扣费");
                    }
				}else{
					$.operate.save(prefix + "/balanceChange", $('#form-balance-edit').serialize());
				}

	        }
	    }
    </script>
</body>
</html>
