<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">

<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="post-form" >
                <div class="select-list">
                    <input id="walletAddress" th:value="${wallet.walletAddress}" type="hidden" />
                    <ul>
                        <li>
                            日期：<input type="text" name="selDate"/>
                        </li>
                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i
                                    class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i
                                    class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>

        <div class="btn-group-sm hidden-xs" id="toolbar" role="group">
            <!--				<a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="system:post:export">-->
            <!--		            <i class="fa fa-download"></i> 导出-->
            <!--		        </a>-->
        </div>

        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table" data-mobile-responsive="true"></table>
        </div>
    </div>
</div>
<div th:include="include :: footer"></div>
<script type="text/html" id="rightBar">
    <div class="layui-btn-group">
        <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="info"><i class="fa fa-trash-o" title="详情">详情</i></a>
    </div>
</script>
<script th:inline="javascript">
    // var editFlag = [[${@permission.hasPermi('system:post:edit')}]];
    // var removeFlag = [[${@permission.hasPermi('system:post:remove')}]];
    var datas = [[${@dict.getType('sys_normal_disable')}]];
    var prefix = ctx + "system/wallet";
    var walletAddress = $("#walletAddress").val();
    $(function () {
        var tableId = "walletTable"
        var options = {
            url: prefix + "/transaction?walletAddress="+walletAddress,
            // createUrl: prefix + "/add",
            // updateUrl: prefix + "/edit/{id}",
            // removeUrl: prefix + "/remove",
            // exportUrl: prefix + "/export",
            // sortName: "id",
            modalName: "钱包信息",
            search: false,
            showExport: false,
            id:"walletTable",
            columns: [{
                checkbox: true
            },
                {
                    field: 'transaction_id',
                    title: '交易记录id'
                },
                {
                    field: 'create_time',
                    title: '交易时间'
                },
                {
                    field: 'fromUserName',
                    title: '用户名称'
                },
                {
                    field: 'from_wallet_address',
                    title: '交易地址'
                },
                {
                    field: 'from_amount',
                    title: '交易数量'
                },
                {
                    field: 'from_wallet_type',
                    title: '交易币种',
                    formatter: function(value, row, index) {
                        var actions = [];
                        if(row.from_wallet_type == '0'){
                            actions.push('USDT');
                        }else if(row.from_wallet_type == '1'){
                            actions.push('MDC');
                        }else{
                            actions.push('');
                        }
                        return actions.join('');
                    }
                },
                {
                    field: 'toUserName',
                    title: '到账人员'
                },
                {
                    field: 'to_wallet_address',
                    title: '到账地址'
                },
                {
                    field: 'to_amount',
                    title: '到账数量'
                },
                {
                    field: 'to_wallet_type',
                    title: '到账币种',
                    formatter: function(value, row, index) {
                        var actions = [];
                        if(row.to_wallet_type == '0'){
                            actions.push('USDT');
                        }else if(row.to_wallet_type == '1'){
                            actions.push('MDC');
                        }else{
                            actions.push('');
                        }
                        return actions.join('');
                    }
                },
                {
                    field: 'transaction_type',
                    title: '交易类型',
                    formatter: function(value, row, index) {
                        var actions = [];
                        if(row.transaction_type == '0'){
                            actions.push('充值');
                        }else if(row.transaction_type == '1'){
                            actions.push('提现');
                        }else if(row.transaction_type == '2'){
                            if(row.from_wallet_address == walletAddress){
                                actions.push('转出');
                            }else if(row.to_wallet_address == walletAddress){
                                actions.push('转入');
                            }else{
                                actions.push('转账');
                            }

                        }else if(row.transaction_type == '3'){
                            actions.push('推广奖励');
                        }else if(row.transaction_type == '4'){
                            actions.push('购买合约');
                        }else if(row.transaction_type == '5'){
                            actions.push('购买进阶卡');
                        }else if(row.transaction_type == '6'){
                            actions.push('每日收益结算');
                        }else if(row.transaction_type == '7'){
                            actions.push('mdc兑换usdt');
                        }else{
                            actions.push('');
                        }
                        return actions.join('');
                    }
                },
                {
                    field: 'transactionStatus',
                    title: '状态'
                }
            ]
        };

        $.table.init(options);
    });
    function getWalletInfo(id) {
        var index = layer.open({
            type: 2,
            area: ['600px', '500px'],
            fix: false,
            //不固定
            maxmin: true,
            shade: 0.3,
            title: "钱包详细",
            content: prefix+"/walletInfo",
            btn: ['关闭'],
            // 弹层外区域关闭
            shadeClose: true,
            cancel: function(index){
                return true;
            }
        });
        layer.full(index);
        alert(id);
    }
</script>
</body>
</html>