<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">

<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="post-form">
                <div class="select-list">
                    <ul>
                        <li class="select-time">
                            <label>充值时间： </label>
                            <input type="text" class="time-input" id="startTime" placeholder="开始时间" name="startTime"/>
                            <span>-</span>
                            <input type="text" class="time-input" id="endTime" placeholder="结束时间" name="endTime"/>
                        </li>
                        <li>
                            充值人员：<input type="text" name="investUserName"/>
                        </li>
                        <li>
                            充值地址：<input type="text" name="invest_address"/>
                        </li>
                        <li>
                            充值币种：<select name="invest_wallet_type" >
                            <option value="">所有</option>
                            <option th:value="0">USDT</option>
                            <option th:value="1">MDC</option>
                        </select>
                        </li>
                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i
                                    class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i
                                    class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>

        <div class="btn-group-sm hidden-xs" id="toolbar" role="group">
            <!--				<a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="system:post:export">-->
            <!--		            <i class="fa fa-download"></i> 导出-->
            <!--		        </a>-->
        </div>

        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table" data-mobile-responsive="true"></table>
        </div>
    </div>
</div>
<div th:include="include :: footer"></div>
<script th:inline="javascript">
    // var editFlag = [[${@permission.hasPermi('system:post:edit')}]];
    // var removeFlag = [[${@permission.hasPermi('system:post:remove')}]];
    var datas = [[${@dict.getType('sys_normal_disable')}]];
    var prefix = ctx + "system/invest";

    $(function () {
        var options = {
            url: prefix + "/list",
            // createUrl: prefix + "/add",
            // updateUrl: prefix + "/edit/{id}",
            // removeUrl: prefix + "/remove",
            // exportUrl: prefix + "/export",
            // sortName: "id",
            modalName: "充值记录",
            search: false,
            showExport: false,
            columns: [{
                checkbox: true
            },
				{
					field: 'transaction_id',
					title: '记录id'
				},
                {
                    field: 'create_time',
                    title: '充值时间'
                },
				{
					field: 'toUserName',
					title: '充值人员'
				},
                {
                    field: 'to_wallet_address',
                    title: '充值地址'
                },
                {
                    field: 'to_amount',
                    title: '充值数量'
                },
                {
                    field: 'to_wallet_type',
                    title: '充值币种',
                    formatter: function(value, row, index) {
                        var actions = [];
                        if(row.to_wallet_type == '0'){
                            actions.push('USDT');
                        }else if(row.to_wallet_type == '1'){
                            actions.push('MDC');
                        }else{
                            actions.push('');
                        }
                        return actions.join('');
                    }
                },
                {
                    field: 'transactionStatus',
                    title: '充值状态'
                }
            ]
        };
        $.table.init(options);
    });
</script>
</body>
</html>