<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.numberone.system.mapper.UserLevelMapper">

    <insert id="batchInsert">
        insert into sys_user_level(rec_id,reced_id,level,create_time)
        values
        <foreach collection="list" item="item" separator=",">
            (#{item.recId},#{item.recedId},#{item.level},#{item.createTime})
        </foreach>
    </insert>

    <select id="selectRecedUserIds" resultType="Map">
        select
        group_concat(reced_id) as ids,
        `level`
        from
        sys_user_level
        where
        rec_id = #{userId}
        group by
        level
    </select>

    <select id="getTotalSum" resultType="BigDecimal">
        select
        ifnull(sum(sc.amount),0)
        from
        sys_user_level sul
        join mdc_user_contract muc on sul.reced_id = muc.user_id
        join sys_contract sc on muc.contract_id = sc.id
        where
        rec_id = #{userId} and type = 1
    </select>

    <select id="selectRecIdsByRecedId" resultType="Integer">
        select
        rec_id as recId
        from
        sys_user_level
        where
        reced_id = #{user_id}
        order by level asc
    </select>
</mapper>