<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.numberone.system.mapper.WalletMapper">

    <select id="getWallets" resultType="java.util.Map">
        select w.wallet_id,  w.address,   w.ustd_blance, w.mdc_blance,  w.create_time ,u.user_name from mdc_wallet w,sys_user u where w.user_id = u.user_id order by w.create_time desc
    </select>

</mapper>
